---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Membership" lang="ja" path="/membership/">
    <h1>Joining Page</h1>
    <p>This is the joining page.</p>
</BaseLayout>
