@use "../abstracts/_mixins.scss" as *;
@use "../abstracts/_variables.scss" as *;

.about {
  &__container {
    padding: 80px var(--side-spacing-pc);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: var(--max-width);
    text-align: start;
    @include mqsp {
      padding: 50px var(--side-spacing);
    }
  }
  &__introduction {
    color: var(--text-mid);
    margin-bottom: 60px;
  }
  &__timeline {
    margin-bottom: 60px;
    width: 100%;
    &-content ul {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-left: 6rem;
      gap: 40px;
      @include mqsp {
        margin-top: 3rem;
        margin-left: 0rem;
        li {
          margin-bottom: 2rem;
        }
      }
    }
    &-date {
      font-family: "bebas", sans-serif;
      color: var(--gold);
      font-size: 1.25rem;
      position: absolute;
      margin-left: -6rem;
      font-weight: 600;
      @include mqsp {
        margin-left: 0rem;
        margin-top: -2.5rem;
      }
    }
  }
  &__info {
    margin-bottom: 40px;
    width: 100%;
  }
  &__images {
    gap: 10px;
  }
  &__image-case {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 250px;
    justify-content: space-around;
    gap: 10px;
    margin-bottom: 10px;
    @include mqsp {
      flex-direction: column;
      height: 100%;
    }
    &-set {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      align-items: center;
      justify-content: space-between;
      img {
        display: block;
        width: auto;
        max-height: 225px;
      }
      // div img {
      //   display: block;
      //   width: auto;
      //   height: 100%;
      // }
    }
  }
}
