@use "../abstracts/_mixins.scss" as *;
@use "../abstracts/_variables.scss" as *;


.button {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #000;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(90deg, rgb(0, 17, 252), rgb(0, 17, 252));
        transform: translateX(-100%);
        transition: transform 320ms cubic-bezier(.2,.9,.3,1);
        pointer-events: none;
        z-index: 1;
    }
}

.button:hover::before,
.button.is-open::before {
    transform: translateX(0);

}

.button:hover {
    color: #ffffff;
    border-color: #ffffff;
}

.button__label { position: relative; z-index: 3; }

.button-inverse {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    background: rgb(255, 0, 0, 0.8);
    border: 1px solid #ffffff;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(90deg, #0011ff, #0011ff);
        transform: translateX(-100%);
        transition: transform 320ms cubic-bezier(.2,.9,.3,1);
        pointer-events: none;
        z-index: 1;
    }
}

.button-inverse:hover::before,
.button-inverse.is-open::before {
    transform: translateX(0);

}

.button-inverse:hover {
    color: #ffffff;
}

.button__label { 
    font-size: 20px;
    position: relative;
    z-index: 3;
    @include mqsp {
      font-size: 20px;
    }
}

