@use "../abstracts/_mixins.scss" as *;
@use "../abstracts/_variables.scss" as *;

.cards-who {
  &__container {
    padding: var(--vertical-spacing) var(--side-spacing) 0;
    flex-direction: column;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mqpc {
      padding: var(--vertical-spacing-pc) var(--side-spacing-pc) 0;
      max-width: var(--max-width);
    }
  }
  &__container-intro {
    padding: var(--vertical-spacing) var(--side-spacing) 0;
    flex-direction: column;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mqpc {
      flex-direction: row;
      gap: 40px;
      padding: var(--vertical-spacing-pc) var(--side-spacing-pc) 0;
      max-width: var(--max-width);
    }
  }
  &__top-img {
    width: 200px;
    height: auto;
    margin-bottom: -20px;
    @include mqpc {
      width: 250px;
      margin-bottom: 0px;
    }
  }

  &__card-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    @include mqpc {
      gap: 30px;
      flex-direction: row;
    }
  }
  &__card {
    border: 1px var(--border) solid;
    display: flex;
    flex-direction: column;
    @include mqpc {
      width: 250px;
    }
  }
  &__card-top {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    background: var(--navy);
    border-right: 1px var(--border) solid;
    gap: 20px;
    padding-right: 30px;
    @include mqpc {
      justify-content: center;
      padding: 20px;
      flex-direction: column;
      align-items: center;
      width: auto;
      min-height: 250px;
      gap: 10px;
      border-right: none;
      border-bottom: 1px var(--border) solid;
    }
  }
  &__card-bottom {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: var(--white);
    border-right: 1px var(--border) solid;
    @include mqpc {
      flex-direction: column;
      min-width: 200px;
      border-right: none;
      border-bottom: 1px var(--border) solid;
    }
  }
  &__card-icon {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    @include mqpc {
      width: 100px;
      height: 100px;
    }
  }
  &__card-title {
    font-family: "noto serif JP";
    font-weight: 600;
    color: var(--off-white);
    text-align: center;
    width: 100%;
    @include mqpc {
    }
  }
}

.cards-list {
  gap: 12px;
  &__locations {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    gap: 12px;

    &-title {
      font-size: 1.25rem;
      font-weight: 600;
      margin: 0;
      font-family: "noto serif JP";
    }

    &-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
      gap: 8px;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      li a {
        border-radius: 4px;
        background: #ebebeb;
        border: 1px solid #ebebeb;
        display: flex;
        width: 100%;
        height: 100%;
        padding: 8px 12px;
        font-size: 0.9rem;
        text-align: center;
        justify-content: center;
        align-items: center;
        &:hover {
          background: #ffffff;
          border: 1px solid var(--color-seishin-blue);
        }
      }
    }
  }
}
