@use "../abstracts/_mixins.scss" as *;
@use "../abstracts/_variables.scss" as *;

.cards-who {
  &__container {
    padding: var(--vertical-spacing) var(--side-spacing) 0;
    flex-direction: column;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mqpc {
      padding: var(--vertical-spacing-pc) var(--side-spacing-pc) 0;
      max-width: var(--max-width);
    }
  }
  &__container-intro {
    padding: var(--vertical-spacing) var(--side-spacing) 0;
    flex-direction: column;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mqpc {
      flex-direction: row;
      gap: 40px;
      padding: var(--vertical-spacing-pc) var(--side-spacing-pc) 0;
      max-width: var(--max-width);
    }
  }
  &__top-img {
    width: 200px;
    height: auto;
    margin-bottom: -20px;
    @include mqpc {
      width: 250px;
      margin-bottom: 0px;
    }
  }

  &__card-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    @include mqpc {
      gap: 30px;
      flex-direction: row;
    }
  }
  &__card {
    border: 1px var(--border) solid;
    display: flex;
    flex-direction: column;
  }
  &__card-top {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    background: var(--navy);
    border-right: 1px var(--border) solid;
    gap: 20px;
    @include mqpc {
      justify-content: flex-start;
      padding: 20px;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 200px;
      gap: 10px;
      border-right: none;
      border-bottom: 1px var(--border) solid;
    }
  }
  &__card-bottom {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    background: var(--white);
    border-right: 1px var(--border) solid;
    @include mqpc {
      flex-direction: column;
      min-width: 200px;
      height: 100%;
      border-right: none;
      border-bottom: 1px var(--border) solid;
    }
  }
  &__card-icon {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    @include mqpc {
      width: 100px;
      height: 100px;
    }
  }
  &__card-title {
    font-family: "noto serif JP";
    font-weight: 700;
    color: var(--off-white);
    text-align: center;
  }
}

.cards-contact {
  &__container {
    padding: var(--vertical-spacing) var(--side-spacing) 0;
    flex-direction: column;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mqpc {
      padding: var(--vertical-spacing-pc) var(--side-spacing) 0;
      max-width: var(--max-width);
    }
  }
  &__container-intro {
    padding: var(--vertical-spacing) var(--side-spacing);
    flex-direction: column;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mqpc {
      flex-direction: row;
      gap: 40px;
      padding: var(--vertical-spacing-pc) var(--side-spacing);
      max-width: var(--max-width);
    }
  }
  &__top-img {
    width: 200px;
    height: auto;
    margin-bottom: -20px;
    @include mqpc {
      width: 250px;
      margin-bottom: 0px;
    }
  }

  &__card-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    @include mqpc {
      gap: 30px;
      flex-direction: row;
    }
  }
  &__card {
    border: 1px var(--border) solid;
    display: flex;
    flex-direction: column;
  }
  &__card-top {
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--navy);
    border-right: 1px var(--border) solid;
    gap: 20px;
    @include mqpc {
      justify-content: flex-start;
      padding: 20px;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: auto;
      gap: 10px;
      border-right: none;
      border-bottom: 1px var(--border) solid;
    }
  }
  &__card-bottom {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background: var(--white);
    border-right: 1px var(--border) solid;
    @include mqpc {
      padding: 20px;
      flex-direction: column;
      min-width: 200px;
      height: 100%;
      border-right: none;
      border-bottom: 1px var(--border) solid;
    }
  }
  &__card-icon {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    @include mqpc {
      width: 100px;
      height: 100px;
    }
  }
  &__card-title {
    font-family: "noto serif JP";
    font-weight: 700;
    color: var(--off-white);
    text-align: center;
  }
}
