@use "../abstracts/_mixins.scss" as *;
@use "../abstracts/_variables.scss" as *;

.components-test {
    padding: 100px var(--side-spacing);
    background: #ffffff;
    margin-inline: auto;
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}