@use "../abstracts/_mixins.scss" as *;
@use "../abstracts/_variables.scss" as *;

// Keyframe Animations
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: translate(-50%, 0) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0) scale(1);
  }
}

@keyframes sliderFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fv {
  position: relative;
  overflow: hidden;
  .swiper-container {
    position: relative;
    width: 100%;
    height: 800px;
    @include mqsp {
      aspect-ratio: 375/686;
    }
  }
  .swiper-wrapper {
    position: relative;
    z-index: 1;
  }

  .swiper-slide {
    position: relative;
  }
  
  &__text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
    gap: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 100%;
    text-align: center;
    pointer-events: none;
    color: white;
    a {
      pointer-events: auto;
    }
  }
  &__title {
    font-size: 100px;
                text-shadow: 1px 1px 10px var(--color-bg-blue);
    @include mqsp {
      font-size: calc(100 / 768 *100vw);

    }
  }
  &__copy {
    font-size: 40px;
                text-shadow: 1px 1px 10px var(--color-bg-blue);
    @include mqsp {
          font-size: calc(40 / 768 *100vw);
      
    }
  }
  
  &__slide {
    &-bg {
      position: absolute;
      inset: 0;
      overflow: hidden;
      img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(13, 11, 114, 0.322);
    z-index: 2;
  }
}
