@use "../abstracts/_mixins.scss" as *;
@use "../abstracts/_variables.scss" as *;

.section__title-area {
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  @include mqpc {
    gap: 12px;
    margin-bottom: 12px;
  }
}

.section__title-area.inverse {
  .section-title {
    color: var(--white);
  }
  .section-desc {
    color: var(--text-light);
  }
  .text {
    color: var(--text-light);
  }
}

.section-label {
  font-family: "Bebas Neue", sans-serif;
  font-size: var(--fs-sm);
  letter-spacing: 0.3em;
  color: var(--red);

  display: block;
}
.section-title {
  font-family: "Noto Serif JP", serif;
  font-weight: 700;
  font-size: var(--fs-xl);
  line-height: 1.1;
  margin-bottom: 10px;
  color: var(--navy);
}
.section-desc {
  color: var(--text-mid);
  margin-bottom: 32px;
}
.text {
  // font-family: "Noto Serif JP", serif;
  line-height: 2.1;
  color: var(--text-mid);
}
.section-title.lg {
  font-family: "Noto Serif JP", serif;
  font-weight: 700;
  font-size: var(--fs-lg);
  line-height: 1.1;
  margin-bottom: 10px;
  color: var(--navy);
}
