@use "sass:map";
@use "sass:math";
@use "variables" as *;

@mixin mqsp($breakpoint: md) {
  $size: map.get($breakpoints, $breakpoint);
  @media (max-width: #{ $size - 0.02 }) {
    @content;
  }
}

@mixin mqpc($breakpoint: md) {
  $size: map.get($breakpoints, $breakpoint);
  @media (min-width: #{$size}) {
    @content;
  }
}

$base-font-size: 16 !default;

@function rem($px, $base: $base-font-size) {
  @return #{math.div($px, $base)}rem;
}

@function vw($px, $base: 375) {
  @return (math.div($px, $base) * 100vw);
}
