---
import ArrowRight from "./ArrowRight.astro";
const { text, ariaLabel, ...rest } = Astro.props;
---

<button class='button' aria-label={ariaLabel} {...rest}>
    <span class="button__label"><slot>{text ?? 'Button'}</slot></span>
    <ArrowRight />
</button>