@use "../abstracts/_mixins.scss" as *;
@use "../abstracts/_variables.scss" as *;

.layout {

    &__container {
        max-width: 1200px;
        padding: 50px 0;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-items: center;
        position: relative;
        @include mqsp {
            flex-direction: column;
            padding: 40px 0;
        }
    }
}