@use "../abstracts/_mixins.scss" as *;
@use "../abstracts/_variables.scss" as *;

.u {
  &-bg-color {
    &-white {
      background: var(--white);
    }
    &-navy {
      background: var(--navy);
    }
    &-red {
      background: var(--red);
    }
    &-text-light {
      background: var(--text-light);
    }
  }
  &-color {
    &-white {
      color: var(--white);
    }
    &-navy {
      color: var(--navy);
    }
    &-red {
      color: var(--red);
    }
    &-text-light {
      color: var(--text-light);
    }
    &-text-lightest {
      color: var(--text-lightest);
    }
  }
  &-col-reverse {
    @include mqsp {
      flex-direction: column-reverse;
    }
  }
  &-col {
    display: flex;
    flex-direction: column;
  }
  &-row {
    display: flex;
    flex-direction: row;
  }

  &-mt-60 {
    margin: (60px 0 0 0);
    @include mqsp {
      margin: (50px 0 0 0);
    }
  }
}
