@use "../abstracts/_mixins.scss" as *;
@use "../abstracts/_variables.scss" as *;

.u {
    &-color {
        &-blue {
            background: var(--color-blue-chalk);
        }
        &-yellow {
            background: var(--color-yellow-chalk);
        }
        &-green {
            background: var(--color-green-chalk);
        }
        &-red {
            background: var(--color-red-chalk);
        }
    }
    &-col-reverse {
        @include mqsp {
            flex-direction: column-reverse;
        }
    }
    &-col {
        display: flex;
        flex-direction: column;
    }
    &-row {
        display: flex;
        flex-direction: row;
    }
}