@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// visibility utility placeholder

$visibilities: (
  "visible": visible,
  "invisible": hidden,
);

@each $class, $visible in $visibilities {
  .#{$class} {
    visibility: $visible !important;
  }

  @each $bp, $size in $cssbreakpoints {
    @include mqpc($bp) {
      .#{$bp}-#{$class} {
        visibility: $visible !important;
      }
    }
  }
}

.u-sp-visible {
  @include mqpc {
    display: none !important;
  }
}

.u-sp-invisible {
  @include mqsp {
    display: none !important;
  }
}

.js-is-visible {
  display: block !important;
}
