---
import Button from "./buttons/Button.astro";
import Table from "./tables/Table.astro";
---

<section class="components-test">
    <Button>See more</Button>
    <Table src="/src/data/tables/example.csv" lang="en" />
    <Button>Contact</Button>
</section>