---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Dojo List" lang="ja" path="/dojo/">
  <section class="dojo-list">
    <div class="dojo-list__container">
      <h1>Page Title</h1>
      <p class="dojo-list__introduction">
        Dummy text. Dummy text. Dummy text. Dummy text. Dummy text. Dummy text.
        Dummy text. Dummy text. Dummy text. Dummy text.
      </p>

      <div class="dojo-list__card-group">
        <div class="dojo-list__card-left">
          <div class="dojo-list__card">
            <h2 class="dojo-list__card-title">Main Box</h2>
            <ul>
              <li class="dojo-list__location">
                <a class="dojo-list__location-link">A location</a>
              </li>
              <li class="dojo-list__location">
                <a class="dojo-list__location-link">A location</a>
              </li>
              <li class="dojo-list__location">
                <a class="dojo-list__location-link">A location</a>
              </li>
              <li class="dojo-list__location">
                <a class="dojo-list__location-link">A location</a>
              </li>
              <li class="dojo-list__location">
                <a class="dojo-list__location-link">A location</a>
              </li>
              <li class="dojo-list__location">
                <a class="dojo-list__location-link">A location</a>
              </li>
              <li class="dojo-list__location">
                <a class="dojo-list__location-link">A location</a>
              </li>
              <li class="dojo-list__location">
                <a class="dojo-list__location-link">A location</a>
              </li>
              <li class="dojo-list__location">
                <a class="dojo-list__location-link">A location</a>
              </li>
              <li class="dojo-list__location">
                <a class="dojo-list__location-link">A location</a>
              </li>
              <li class="dojo-list__location">
                <a class="dojo-list__location-link">A location</a>
              </li>
              <li class="dojo-list__location">
                <a class="dojo-list__location-link">A location</a>
              </li>
              <li class="dojo-list__location">
                <a class="dojo-list__location-link">A location</a>
              </li>
              <li class="dojo-list__location">
                <a class="dojo-list__location-link">A location</a>
              </li>
            </ul>
          </div>
          <div class="dojo-list__card">
            <h2 class="dojo-list__card-title">Secondary Box</h2>
            <ul>
              <li class="dojo-list__location">
                <a class="dojo-list__location-link">A location</a>
              </li>
              <li class="dojo-list__location">
                <a class="dojo-list__location-link">A location</a>
              </li>
              <li class="dojo-list__location">
                <a class="dojo-list__location-link">A location</a>
              </li>
            </ul>
          </div>
          <div class="dojo-list__card">
            <h2 class="dojo-list__card-title">Secondary Box</h2>
            <ul>
              <li class="dojo-list__location">
                <a class="dojo-list__location-link">A location</a>
              </li>
              <li class="dojo-list__location">
                <a class="dojo-list__location-link">A location</a>
              </li>
              <li class="dojo-list__location">
                <a class="dojo-list__location-link">A location</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="dojo-list__card-right">
          <div class="dojo-list__card">
            <h2 class="dojo-list__card-title">Secondary Box</h2>
            <ul>
              <li class="dojo-list__location">
                <a class="dojo-list__location-link">A location</a>
              </li>
              <li class="dojo-list__location">
                <a class="dojo-list__location-link">A location</a>
              </li>
              <li class="dojo-list__location">
                <a class="dojo-list__location-link">A location</a>
              </li>
              <li class="dojo-list__location">
                <a class="dojo-list__location-link">A location</a>
              </li>
              <li class="dojo-list__location">
                <a class="dojo-list__location-link">A location</a>
              </li>
              <li class="dojo-list__location">
                <a class="dojo-list__location-link">A location</a>
              </li>
            </ul>
          </div>
          <div class="dojo-list__card">
            <h2 class="dojo-list__card-title">Secondary Box</h2>
            <ul>
              <li class="dojo-list__location">
                <a class="dojo-list__location-link">A location</a>
              </li>
              <li class="dojo-list__location">
                <a class="dojo-list__location-link">A location</a>
              </li>
              <li class="dojo-list__location">
                <a class="dojo-list__location-link">A location</a>
              </li>
            </ul>
          </div>
          <div class="dojo-list__card">
            <h2 class="dojo-list__card-title">Secondary Box</h2>
            <ul>
              <li class="dojo-list__location">
                <a class="dojo-list__location-link">A location</a>
              </li>
              <li class="dojo-list__location">
                <a class="dojo-list__location-link">A location</a>
              </li>
              <li class="dojo-list__location">
                <a class="dojo-list__location-link">A location</a>
              </li>
              <li class="dojo-list__location">
                <a class="dojo-list__location-link">A location</a>
              </li>
              <li class="dojo-list__location">
                <a class="dojo-list__location-link">A location</a>
              </li>
            </ul>
          </div>
          <div class="dojo-list__card">
            <h2 class="dojo-list__card-title">Secondary Box</h2>
            <ul>
              <li class="dojo-list__location">
                <a class="dojo-list__location-link">A location</a>
              </li>
              <li class="dojo-list__location">
                <a class="dojo-list__location-link">A location</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="dojo-list__map">
        <h2 class="dojo-list__map-title">
          札幌・近郊エリア｜清心会空手連盟 公認支部・関連道場マップ
        </h2>
        <div class="dojo-list__map-frame">
          <iframe
            src="https://www.google.com/maps/d/embed?mid=1rAno9HwrFRZw9hWdg5c6KHO0BQE"
            width="100%"
            height="400"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>