---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Locations" lang="ja" path="/locations/">
    <h1>Locations Page</h1>
    <p>This is the locations page.</p>
</BaseLayout>
